<section class="pt-4 pt-md-11">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 order-md-2">

            <!-- Image -->
            <%= image_tag("photos/logo_CGG.png", class: "img-fluid mb-6 mb-md-0") %>

          </div>
          <div class="col-12 col-md-7 order-md-1">

            <!-- Heading -->
            <h1 class="display-4">
              A full cross-asset cycle <br>
              <span class="text-primary">into a distressed sector.</span>
            </h1>

            <!-- Text -->
            <p class="lead text-muted mb-0">
              How to change the path of the company within a tough environment and a shift from the Oil capex cycle.
            </p>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- ARTICLES -->
    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row">
          <div class="col-12">

            <!-- Heading -->
            <h2 class="mb-0">
              Context.
            </h2>

            <!--  -->
            <p class="mb-5 text-muted">
              Time ahead of the peak.
            </p>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12">

            <!-- Card -->
            <div class="card card-row shadow-light-lg mb-6">
              <div class="row gx-0">
                <div class="col-12">

                  <!-- Badge -->
                  <span class="badge rounded-pill bg-gray-600 badge-float badge-float-outside">
                    <span class="h6 text-uppercase">Featured</span>
                  </span>

                </div>
                  <a class="col-12 col-md-6 order-md-2 bg-cover card-img-end">

                  <!-- Image (placeholder) -->
                  <canvas id="myChartpriceCl"></canvas>


                  <!-- Shape -->
                  <div class="shape shape-start shape-fluid-y svg-shim text-white d-none d-md-block">
                  </div>

                </a>
                <div class="col-12 col-md-6 order-md-1">

                  <!-- Body -->
                  <a class="card-body" href="#!">

                    <!-- Heading -->
                    <h3>
                      Oil barrel went fron 124$ to 34$ in 18 mths.
                    </h3>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                      Geopolitical, US shale oil sector and over-capacity with a sense of cold war
                    </p>

                  </a>

                  <!-- Meta -->
                  <a class="card-meta" href="#!">

                    <!-- Divider -->
                    <hr class="card-meta-divider">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm me-2">
                      <%= image_tag("avatars/avatar-fix.jpg", class: "avatar-img rounded-circle") %>
                    </div>

                    <!-- Author -->
                    <h6 class="text-uppercase text-muted me-2 mb-0">
                      François-Xavier Baud
                    </h6>

                    <!-- Date -->
                    <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                      <time datetime="2019-05-31">May 31</time>
                    </p>

                  </a>

                </div>

              </div> <!-- / .row -->
            </div>

            <!-- Card -->
            <div class="card card-row shadow-light-lg mb-6">
              <div class="row gx-0">
                <div class="col-12">

                  <!-- Badge -->
                  <span class="badge rounded-pill bg-gray-600 badge-float badge-float-outside">
                    <span class="h6 text-uppercase">Featured</span>
                  </span>

                </div>
                <a class="col-12 col-md-6 bg-cover card-img-start">

                  <!-- Image (placeholder) -->
                  <canvas id="myChartpriceCgg"></canvas>


                  <!-- Shape -->
                  <div class="shape shape-end shape-fluid-y svg-shim text-white d-none d-md-block">
                  </div>

                </a>
                <div class="col-12 col-md-6">

                  <!-- Body -->
                  <a class="card-body" href="#!">

                    <!-- Heading -->
                    <h3>
                      CGG was not in a urge but has to do something.
                    </h3>

                    <!-- Text -->
                    <p class="mb-0 text-muted">
                      This is the body text of the blog post to give visitors an idea of what the post is about beyond just the title. It can be a long snippet, a short snippet, whatever you prefer the size of card and description to be.
                    </p>

                  </a>

                  <!-- Meta -->
                  <a class="card-meta" href="#!">

                    <!-- Divider -->
                    <hr class="card-meta-divider">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm me-2">
                      <%= image_tag("avatars/avatar-2.jpg", class: "avatar-img rounded-circle") %>
                    </div>

                    <!-- Author -->
                    <h6 class="text-uppercase text-muted me-2 mb-0">
                      Adolfo Hess
                    </h6>

                    <!-- Date -->
                    <p class="h6 text-uppercase text-muted mb-0 ms-auto">
                      <time datetime="2019-05-29">May 29</time>
                    </p>

                  </a>

                </div>

              </div>
            </div>

            <!-- Card -->
            <div class="card card-row shadow-light-lg bg-cover overlay overlay-dark overlay-80 text-white mb-6" style="background-image: url(<%= asset_path('covers/cover-8.jpg') %>">
              <div class="row gx-0">
                <div class="col-12 col-md-6">

                  <!-- Body -->
                  <a class="card-body" href="#!">

                    <!-- Heading -->
                    <h3>
                      Background Photo + 80% Dark Overlay.
                    </h3>

                    <!-- Text -->
                    <p class="mb-0 text-white-80">
                      It's easy to add a background image for the entire card, plus make text more legible by adding an overlay across the background with simple utility classes. These are all generated from the theme's variables!
                    </p>

                  </a>

                  <!-- Meta -->
                  <a class="card-meta" href="#!">

                    <!-- Divider -->
                    <hr class="card-meta-divider bg-white-20">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm me-2">
                      <%= image_tag("avatars/avatar-1.jpg", class: "avatar-img rounded-circle") %>
                    </div>

                    <!-- Author -->
                    <h6 class="text-uppercase text-white-80 me-2 mb-0">
                      Ab Hadley
                    </h6>

                    <!-- Date -->
                    <p class="h6 text-uppercase text-white-80 mb-0 ms-auto">
                      <time datetime="2019-05-02">May 02</time>
                    </p>

                  </a>

                </div>
              </div> <!-- / .row -->
            </div>

            <!-- Card -->
            <div class="card card-row shadow-light-lg bg-cover overlay overlay-gradient-dark-end overlay-20 text-white mb-6" style="background-image: url(<%= asset_path('photos/photo-cgg-hq.jpg') %>">
              <div class="row gx-0 justify-content-end">
                <div class="col-12 col-md-6">

                  <!-- Body -->
                  <a class="card-body" href="#!">

                    <!-- Heading -->
                    <h3>
                      Background Photo + Gradient Overlay.
                    </h3>

                    <!-- Text -->
                    <p class="mb-0 text-white-80">
                      <div>
                    <canvas id="myChartCggPnl"></canvas>
                  </div>
                    </p>

                  </a>

                  <!-- Meta -->
                  <a class="card-meta" href="#!">

                    <!-- Divider -->
                    <hr class="card-meta-divider bg-white-20">

                    <!-- Avatar -->
                    <div class="avatar avatar-sm me-2">
                      <%= image_tag("avatars/avatar-fix.jpg", class: "avatar-img rounded-circle") %>
                    </div>

                    <!-- Author -->
                    <h6 class="text-uppercase text-white-80 me-2 mb-0">
                      François-Xavier Baud
                    </h6>

                    <!-- Date -->
                    <p class="h6 text-uppercase text-white-80 mb-0 ms-auto">
                      <time datetime="2019-05-02">May 02</time>
                    </p>

                  </a>

                </div>
              </div> <!-- / .row -->
            </div>
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <section class="pt-7 pt-md-10 bg-light">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-12 col-md">
              <!-- Heading -->
              <h3 class="mb-0">
                Related Work
              </h3>
              <!-- Text -->
              <p class="mb-0 text-muted">
                Other goodies that are similar to this one.
              </p>
            </div>
            <div class="col-12 col-md-auto">
              <!-- Button -->
              <%= link_to "Back", root_path, class: "btn btn-sm btn-outline-gray-300 d-none d-md-inline" %>
          </div>
        </div>

        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 d-flex">
            <!-- Card -->
            <%= link_to jazztel_path, class: "card mb-6 mb-lg-6 shadow-light-lg", data: { turbolinks: false } do %>
              <!-- Image -->
              <div class="card-zoom mt-2">
                <%= image_tag("photos/logo_jazztel.png", class: "card-img-top") %>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Shape -->
                <div class="shape shape-bottom-100 shape-fluid-x svg-shim text-white">
                </div>
                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-muted">Stock story</h6>
                <!-- Heading -->
                <h4 class="mb-0">Jazztel</h4>
              </div>
            <% end %>
          </div>

          <div class="col-12 col-md-6 col-lg-4 d-flex">
            <!-- Card -->
            <%= link_to futuren_path, class: "card mb-6 mb-lg-6 shadow-light-lg", data: { turbolinks: false } do %>
              <!-- Image -->
              <div class="card-zoom mt-2">
                <%= image_tag("photos/logo_theolia.jpeg", class: "card-img-top") %>
              </div>
              <!-- Body -->
              <div class="card-body">
                <!-- Shape -->
                <div class="shape shape-bottom-100 shape-fluid-x svg-shim text-white">
                </div>
                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-muted">Stock story</h6>
                <!-- Heading -->
                <h4 class="mb-0">Futuren</h4>
              </div>
            <% end %>
          </div>
        </div>
      </div> <!-- / .container -->
    </section>


    <!-- CTA -->
    <section class="pt-6 pt-md-8 bg-gray-200">
      <div class="container pb-6 pb-md-8 border-bottom border-gray-300">
        <div class="row align-items-center">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h3 class="mb-1 fw-bold">
              Get our stories delivered
            </h3>

            <!-- Text -->
            <p class="fs-lg text-muted mb-6 mb-md-0">
              From us to your inbox weekly.
            </p>

          </div>
          <div class="col-12 col-md-5">

            <!-- Form -->
            <form>
              <div class="row">
                <div class="col">

                  <!-- Input -->
                  <input type="email" class="form-control" placeholder="Enter your email">

                </div>
                <div class="col-auto ms-n5">

                  <!-- Button -->
                  <button class="btn btn-primary" type="submit">
                    Subscribe
                  </button>

                </div>
              </div> <!-- / .row -->
            </form>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>
