    <!-- WELCOME
    ================================================== -->
    <section data-jarallax data-speed=".8" class="pt-12 pb-10 pt-md-15 pb-md-14" style="background-image: url(<%= asset_path('covers/cover-20.jpg') %>">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-8 col-lg-6">

            <!-- Heading -->
            <h1 class="display-3 font-weight-bold text-white" id="welcomeHeadingSource">
              Restructuration with purpose <br />
              <span id="banner-typed-text" class="text-warning"></span>
              <!-- <span class="text-warning" data-toggle="typed" data-options='{"strings": ["Convertible bond issuance", "Capital increase underwriting", "Loans financing", "Equity ownership"]}'></span> -->
            </h1>


            <!-- Text -->
            <p class="font-size-lg text-white-80 mb-6">
              We help companies to move forward and start again with a clean capital structure.
            </p>

            <!-- Form -->
            <!-- <form>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text pr-0 border-right-0">
                    <i class="fe fe-search" id="searchAddon"></i>
                  </span>
                </div>
                <input type="search" class="form-control pl-2 border-left-0" placeholder="Search for a job" aria-label="Search for a job" aria-describedby="searchAddon">
              </div>
            </form> -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- BRANDS
    ================================================== -->


    <!-- PROCESS
    ================================================== -->
    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-12 col-md-6">

            <!-- Preheading -->
            <h6 class="text-uppercase text-primary font-weight-bold">
              Process
            </h6>

            <!-- Heading -->
            <h2>
              Our process to help Small and Medium-sized enterprises fallen-angels kind to restructure their capital structure.
            </h2>

            <!-- Text -->
            <p class="lead text-muted mb-6 mb-md-0">
              We do invest in Companies which need much more than distressed debt funds to thrive and struggling to find banking support!
            </p>

          </div>
          <div class="col-12 col-md-6 col-xl-5">

            <div class="row no-gutters">
              <div class="col-4">

                <!-- Image -->
                <div class="w-150 mt-9 p-1 bg-white shadow-lg" data-aos="fade-up" data-aos-delay="100">
                  <%= image_tag("photos/photo-13.jpg", class: "img-fluid") %>
                </div>

              </div>
              <div class="col-4">

                <!-- Image -->
                <div class="w-150 p-1 bg-white shadow-lg" data-aos="fade-up">
                  <%= image_tag("photos/photo-14.jpg", class: "img-fluid") %>
                </div>

              </div>
              <div class="col-4 position-relative">

                <!-- Image -->
                <div class="w-150 mt-11 float-right p-1 bg-white shadow-lg" data-aos="fade-up" data-aos-delay="150">
                  <%= image_tag("photos/photo-15.jpg", class: "img-fluid") %>
                </div>

              </div>
            </div> <!-- / .row -->

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- STEPS
    ================================================== -->
    <section class="pt-8 pb-9 pt-md-11 pb-md-13">
      <div class="container">
        <div class="row">
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-auto col-md-12">

                <!-- Step -->
                <div class="row no-gutters align-items-center mb-md-5">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>1</span>
                    </a>

                  </div>
                  <div class="col">

                    <hr class="d-none d-md-block mr-n7">

                  </div>
                </div> <!-- / .row -->

              </div>
              <div class="col col-md-12 ml-n5 ml-md-0">

                <!-- Heading -->
                <h3>
                  Start investing through the credit angle.
                </h3>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  Identify attractive companies with an inadequate capital structure and progressively build a position through a bond or a convertible bond paper at around 60 cts /$.
                </p>

              </div>
            </div> <!-- / .row -->
          </div>
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-auto col-md-12">

                <!-- Step -->
                <div class="row no-gutters align-items-center mb-md-5">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>2</span>
                    </a>

                  </div>
                  <div class="col">

                    <hr class="d-none d-md-block mr-n7">

                  </div>
                </div> <!-- / .row -->

              </div>
              <div class="col col-md-12 ml-n5 ml-md-0">

                <!-- Heading -->
                <h3>
                  Restructure to thrive.
                </h3>

                <!-- Text -->
                <p class="text-muted mb-6 mb-md-0">
                  Help the company restructuring its liabilities with a debt buyback funded from a capital increase, amend and extend of the remaining debt at standard levels and issue when possible warrants to reflect upside potentials.
                </p>

              </div>
            </div> <!-- / .row -->
          </div>
          <div class="col-12 col-md-4">
            <div class="row">
              <div class="col-auto col-md-12">

                <!-- Step -->
                <div class="row no-gutters align-items-center mb-md-5">
                  <div class="col-auto">

                    <a href="#!" class="btn btn-sm btn-rounded-circle btn-gray-400 disabled opacity-1">
                      <span>3</span>
                    </a>

                  </div>
                </div> <!-- / .row -->

              </div>
              <div class="col col-md-12 ml-n5 ml-md-0">

                <!-- Heading -->
                <h3>
                  Stand then as a shareholder.
                </h3>

                <!-- Text -->
                <p class="text-muted mb-0">
                  And help management to achieve value creation, strenghten fundamentals and create a new equity story.
                </p>

              </div>
            </div> <!-- / .row -->
          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>


    <!-- LATEST POSTS
    ================================================== -->
    <section class="py-5 py-md-8 bg-gradient-light-white">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-6">

            <!-- Preheading -->
            <h6 class="text-uppercase text-primary font-weight-bold">
              Latest posts
            </h6>

            <!-- Heading -->
            <h2>
              Check out some achievements.
            </h2>

            <!-- Text -->
            <p class="text-muted mb-6 mb-md-8">
              We get decades of experience restructuring SME's capital structure.
            </p>

          </div>
          <div class="col-12 col-md-6">

            <!-- Image -->
            <%= image_tag("illustrations/illustration-3.png", class: "img-fluid") %>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-6">
            <!-- Card -->
            <div class="card card-border border-primary shadow-light-lg mb-6 mb-md-8" data-aos="fade-up">
              <%= link_to jazztel_path, class: "text-primary text-decoration-none", data: { turbolinks: false } do %>
              <div class="card-body">
                <!-- Heading -->
                  <h6 class="text-uppercase text-primary d-inline-block mb-5 mr-1">
                    Jazztel
                  </h6>
                <!-- List group -->
                <div>
                  <div class="list-group list-group-flush">
                    <div class="list-group-item text-reset text-decoration-none">
                      <p class="font-weight-bold mb-1">
                        <%= content_tag(:span, '2009', class: "badge alert-info") %>
                        Restructuring of the €275m 5% convertible bonds due April 2010
                      </p>
                      <p class="font-size-sm text-muted mb-0">
                        Debt falls to 1.8 times EBITDA from 5.4 times
                      </p>
                    </div>
                    <div class="list-group-item text-reset text-decoration-none">
                      <p class="font-weight-bold mb-1">
                        <%= content_tag(:span, '2010', class: "badge alert-info") %>
                        A Right issue
                      </p>
                      <p class="font-size-sm text-muted mb-0">
                        80m€ of which 70m€ will help buying back 50% of the outstanding CB
                      </p>
                    </div>
                    <div class="list-group-item text-reset text-decoration-none">
                      <p class="font-weight-bold mb-1">
                        Buyback and cancellation of bonds for around half of the original amount outstanding with the
                        rescheduling of the other half
                      </p>
                      <p class="font-size-sm text-muted mb-0">
                        Issuance of a 110m EUR 9.75% cpn Apr-2013
                      </p>
                    </div>
                      <div class="list-group-item text-reset text-decoration-none">
                      <p class="font-weight-bold mb-1">
                         Free allotment of warrants to bondholders
                      </p>
                      <p class="font-size-sm text-muted mb-0">
                        up to 200m EUR
                      </p>
                    </div>
                    <div class="list-group-item text-reset text-decoration-none">
                      <p class="font-weight-bold mb-1">
                        <%= content_tag(:span, '2014', class: "badge alert-info") %>
                         Friendly takeover bid by Orange
                      </p>
                      <p class="font-size-sm text-muted mb-0">
                        3.4bn€ deal, all-cash, with a 34% premium vs L30D-VWAP and a 12x EV/NTM EBITDA valuation multiple
                      </p>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
            </div>

            <!-- Card -->
            <div class="card card-border border-danger shadow-light-lg mb-6 mb-md-8" data-aos="fade-up">
              <%= link_to solocal_path, class: "text-danger text-decoration-none", data: { turbolinks: false } do %>
                <div class="card-body">
                  <!-- Heading -->
                    <h6 class="text-uppercase text-danger d-inline-block mb-5 mr-1">
                      Solocal (aka Pages Jaunes)
                    </h6>
                  <!-- List group -->
                  <div>
                    <div class="list-group list-group-flush">
                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2014', class: "badge alert-danger") %>
                          Debt restructuring and capital raising
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          2013 revenues at 1bn€ and 1.6bn€ of debt
                        </p>
                      </div>
                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2016', class: "badge alert-danger") %>
                          Restructuration with an amend and extend
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          Help with the capital increase
                        </p>
                      </div>
                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2020', class: "badge alert-danger") %>
                          Capital increase
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          to help them preparing the future
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>

          </div>
          <div class="col-12 col-md-6">

            <!-- Card -->
            <div class="card card-border border-success shadow-light-lg mb-6 mb-md-8" data-aos="fade-up" data-aos-delay="100">
              <%= link_to futuren_path, class: "text-success text-decoration-none", data: { turbolinks: false } do  %>
                <div class="card-body">

                  <!-- Heading -->
                    <h6 class="text-uppercase text-success d-inline-block mb-5 mr-1">
                      Futuren (aka Theolia)
                    </h6>
                  <!-- List group -->
                  <div>
                    <div class="list-group list-group-flush">
                        <p class="font-weight-bold mb-1">
                          <div class="list-group-item text-reset text-decoration-none" href="#!">
                            <%= content_tag(:span, '2007', class: "badge alert-success") %>
                              Convertible bond issuance 240m€ maturity 2012
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                              Market capitalisation at that time was about 400m€+ following acquisition of a 165m MW portfolio from General Electric
                            </p>
                          </div>
                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2010', class: "badge alert-success") %>
                          Convertible bond restructuration and 60.5m€ capital increase
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          with asset disposals from non-wind power activities
                        </p>
                      </div>
                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2013', class: "badge alert-success") %>
                          Failed takeover approach from Macquarie
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          110m€ market capitalisation with a 50% premium
                        </p>
                      </div>

                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2014', class: "badge alert-success") %>
                          Convertible bond restructuration and 60m€ capital increase
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          Commitment from B&G to subscribe 10m€ and underwritten the remaining 50m€
                        </p>
                      </div>

                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2017', class: "badge alert-success") %>
                          Successful takeover by EDF-Energies Nouvelles
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          About 320m€ market capitalisation with almost a 40% premium
                        </p>
                      </div>
                    </div>
                  </div>

                </div>
              <% end %>
            </div>

            <!-- Card -->
            <div class="card card-border border-gray-800 shadow-light-lg mb-6 mb-md-8" data-aos="fade-up">
              <%= link_to cgg_path, class: "text-secondary text-decoration-none", data: { turbolinks: false } do %>
                <div class="card-body">

                  <!-- Heading -->
                    <h6 class="text-uppercase text-gray-500 d-inline-block mb-5 mr-1">
                      CGG
                    </h6>


                  <!-- List group -->
                  <div>
                    <div class="list-group list-group-flush">
                        <p class="font-weight-bold mb-1">
                          <div class="list-group-item text-reset text-decoration-none" href="#!">
                            <%= content_tag(:span, '2014', class: "badge alert-secondary") %>
                              Failed takeover by Technip
                            </p>
                            <p class="font-size-sm text-muted mb-0">
                              1.46bn€, cash, 27% premium
                            </p>
                          </div>
                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2016', class: "badge alert-secondary") %>
                          350m€ Capital increase
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          2.5bn€ debt
                        </p>
                      </div>
                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2018', class: "badge alert-secondary") %>
                          Debt restructuring and capital increase
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          back to less than 2x Net Debt/EBITDA
                        </p>
                      </div>
                      <div class="list-group-item text-reset text-decoration-none" href="#!">
                        <p class="font-weight-bold mb-1">
                          <%= content_tag(:span, '2020', class: "badge alert-secondary") %>
                          Successful $1.2Bn Senior Secured Notes Debt Refinancing
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                            Normalization of capital structure through $1.2Bn equivalent refinancing in
                                EUR and USD with a new $100m revolving credit facility (RCF)
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          Reduction of cost of debt with a blended interest rate of 8.17% and
                          elimination of $45m per year in PIK interest
                        </p>
                        <p class="font-size-sm text-muted mb-0">
                          Extension of maturities to 2027 (6 years)
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </section>

    <!-- Returns
    ================================================== -->
    <section>
      <div class="container py-3 pt-md-5 pb-md-6 border-top">
        <div class="row">
          <div class="col-12 col-md-10 col-lg-8">

            <!-- Preheading -->
            <h6 class="text-uppercase text-primary">
              Investment ideas
            </h6>

            <!-- Heading -->
            <h2 class="mb-6 mb-md-8">
              We did help between 1 to 3 companies each year since our inception in 2003.
            </h2>

            <!-- Stats -->
            <div class="d-flex">
              <div class="pr-5">
                <h3 class="mb-0">
                  <span id="countup" data-toggle="countup" data-from="15" data-to="70" data-aos data-aos-id="countup:in">0</span>m €
                </h3>
                <p class="text-gray-700 mb-0">
                  Invested by ideas in average
                </p>
              </div>
              <div class="px-5">
                <h3 class="mb-0">
                  <span id="countup"  data-toggle="countup" data-from="0" data-to="7" data-aos data-aos-id="countup:in">0</span> years
                </h3>
                <p class="text-gray-700 mb-0">
                  Average Investment duration
                </p>
              </div>
              <div class="pl-5">
                <h3 class="mb-0">
                  <span id="countup"  data-toggle="countup" data-from="0" data-to="15" data-decimals="1" data-aos data-aos-id="countup:in">0.0</span>%+
                </h3>
                <p class="text-gray-700 mb-0">
                  Double-digit annualised ROI
                </p>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- IMAGE
    ================================================== -->
    <section data-jarallax data-speed=".9" class="py-8 py-lg-12 jarallax" style="background-image: url(<%= asset_path 'covers/cover-22.jpg' %>;">

      <!-- Shape -->
      <div class="shape shape-top shape-fluid-x svg-shim text-white">
        <% image_tag("shapes/angles/angle-top.svg") %>
      </div>

      <!-- Shape -->
      <div class="shape shape-bottom shape-fluid-x svg-shim text-light">
        <% image_tag("shapes/angles/angle-bottom.svg") %>
      </div>

    </section>

    <!-- ABOUT
    ================================================== -->
    <section class="py-5 py-md-8 bg-light">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12 col-md-5 col-lg-6 order-md-2">
            <canvas id="mydirectlendinggraph"></canvas>
          </div>

          <div class="col-12 col-md-7 col-lg-6 order-md-1">
            <!-- Heading -->
            <h2>
              Invested in Direct lending... <br>
              <span class="text-primary">since 2017 and keep counting</span>.
            </h2>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-6">
              We have been able to build a Direct Lending portfolio of about 150m€ and develop a strong expertise accross several European countries and sectors.
            </p>

            <!-- List -->
            <div class="d-flex">
              <div class="ml-5">
                <!-- Heading -->
                <h4 class="mb-1">
                  <%= image_tag("icons/duotone-icons/General/Clipboard.svg", class: "icon text-primary") %>
                  Direct Lending
                </h4>
                <!-- Text -->
                <p class="text-muted mb-5">
                  Almost 200 companies helped and supported with in average 1.5m EUR loans and up to 24 months of duration.
                </p>
              </div>
            </div>

            <div class="d-flex">
              <div class="ml-5">
                <!-- Heading -->
                <h4 class="mb-1">
                  <%= image_tag("icons/duotone-icons/Files/Folder-star.svg", class: "icon text-primary") %>
                  NPL servicing
                </h4>
                <!-- Text -->
                <p class="text-muted mb-0">
                  Deployment of about 50m EUR of NPL servicing in Portugal with mix between equity and debt funding.
                </p>
              </div>
            </div>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- CTA
    ================================================== -->
    <section class="pt-6 pt-md-8">
      <div class="container pb-6 pb-md-8 border-bottom">
        <div class="row align-items-center">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h3 class="mb-1">
              Interested?
            </h3>

            <!-- Text -->
            <p class="font-size-lg text-muted mb-4 mb-md-0">
              Let's move forward!
            </p>

          </div>
          <div class="col-12 col-md-auto">

            <!-- Button -->
            <% link_to 'Learn more', about_path, class: "btn btn-primary-soft mr-1 lift" %>


            <a href="#!" class="btn btn-primary lift">
              Contact us
            </a>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>


