    <section class="pt-8 pt-md-11">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">
            <!-- Heading -->
            <h1 class="display-3 fw-bold text-center">
              Help a traditional leading YellowPages company to transition into the digital space
            </h1>

            <!-- Text -->
            <p class="lead mb-7 text-center text-muted">
              PagesJaunes was spun off from Wanadoo- France Telecom in July 2004 through the offering of 44.2% float at 14.40€.
              2013 revenues was 917.3m€ and EBITDA 334.2m€.
            </p>

            <!-- Meta -->
            <div class="row align-items-center py-5 border-top border-bottom">
              <div class="col-auto">
                <!-- Avatar -->
                <div class="avatar avatar-lg">
                  <%= image_tag("avatars/avatar-fix.jpg", class: "avatar-img rounded-circle") %>
                </div>
              </div>
              <div class="col ms-n5">
                <!-- Name -->
                <h6 class="text-uppercase mb-0">
                  François-Xavier Baud
                </h6>

                <!-- Date -->
                <time class="fs-sm text-muted" datetime="2019-05-20">
                  Published on May 17, 2021
                </time>
              </div>
            </div>
          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .container -->
    </section>

    <!-- SECTION -->
    <section class="pt-6 pt-md-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">
            <!-- Text -->
            <p>
              BT's spin off, Yell did acquire 60% of the Spanish directories business TPI in April 2006 from Telefonica. Deal value of 3.3bn€
              Several bidders like Carlyle, KKR or World Directories (owned by Apax and Cinven). TPI shares was trading on a multiple of 15x EBITDA 2005.
              European Directories SA did purchase in October 2005 TDC Forlag A/S pour 650m€ with 10.7 EV/EBITDA.
              Eniro AB from Sweden did offer 12.4x EBITDA in September 2005 to acquire the 1bn€ EV of its Norwegian counterpart Findexa AS
            </p>
            <p class="mb-0">
              June 2006, biggest French take private transaction, 3.3bn€ deal value with 1.9bn€ of debt. KKR and GS Private Equity bought the France Telecom's stake of 54% among several interest parties: PAI, Axa PE, BC Partners,
              Eurazeo and Vivendi. KKR then triggered a takeover bid for the whole offering 22.6€ per share valuing the company a whooping 6.1bn€.
              KKR has arranged loans up to 10x EBITDA. Yellow Brick Road was purchased with a 8.3x multiple. At that time, European companies acquired by LBO firms on average took on debt equal
              to 5.3x EBITDA in Q2-2006 up from 4.6x in 2004.
            </p>
          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .container -->
    </section>

    <!-- SECTION -->
    <section class="pt-6 pt-md-8">
      <div class="container">
        <div class="row justify-content-center">
            <canvas id="myChartSolocal"></canvas>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .container -->
    </section>

    <!-- SECTION -->
    <section class="pt-6 pt-md-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">
            <!-- Heading -->
            <h2 class="fw-bold">
              Internet disruption, the Digital age
            </h2>

            <!-- Text -->
            <p class="mb-7">
              Competitors has changed, from Telco incumbents to face the US Internet giants.
              PagesJaunes has a compelling market advantage, its traffic was organic.
              French market was an early-adopter of online directories with the Minitel, introduced commercially in 1982.
            </p>

            <!-- Divider -->
            <hr class="hr-md mb-7 mx-auto" />

            <!-- Blockquote -->
            <blockquote class="blockquote mb-7">
              <p class="h2 mb-0 text-center text-primary-desat">
                “Debt load to constrain ability to fight”
              </p>
            </blockquote>

            <!-- Divider -->
            <hr class="hr-md mb-7 mx-auto" />

            <!-- Text -->
            <p class="mb-3">
              A part of the battle to thrive against local digital disruptors was inside its capital structure between bondholders willing
              to add new money and olf shareholders who do not want materialize any losses
            </p>
            <p class="mb-0">
              A part of the battle to thrive against local digital disruptors was inside its capital structure between bondholders willing
              to add new money and olf shareholders who do not want materialize any losses
            </p>
          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .container -->
    </section>

    <!-- SECTION -->
    <section class="py-6 py-md-8">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-10 col-lg-9 col-xl-8">
            <!-- Heading -->
            <h3 class="fw-bold">
              Cut the debt knot and share the burden
            </h3>

            <!-- Text -->
            <p class="mb-7">
              Restructure to thrive in a highly competitive sector
            </p>

            <!-- List -->
            <ul class="list-unstyled mb-0">
              <li class="d-flex">
                <!-- Check -->
                <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>
                  Amend & Extend the 8.875% paper
                </p>
              </li>
              <li class="d-flex">
                <!-- Check -->
                <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>
                  Capital increase
                </p>
              </li>
              <li class="d-flex">
                <!-- Check -->
                <div class="badge badge-rounded-circle bg-success-soft mt-1 me-4">
                  <i class="fe fe-check"></i>
                </div>

                <!-- Text -->
                <p>
                  Do it twice
                </p>
              </li>
            </ul>
          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .container -->
    </section>

    <!-- RELATED -->
    <section class="pt-7 pt-md-10 bg-light">
      <div class="container">
        <div class="row align-items-center mb-5">
          <div class="col-12 col-md">

            <!-- Heading -->
            <h3 class="mb-0">
              Related Work
            </h3>

            <!-- Text -->
            <p class="mb-0 text-muted">
              Other goodies that are similar to this one.
            </p>

          </div>
          <div class="col-12 col-md-auto">
            <!-- Button -->
            <%= link_to "Back", root_path, class: "btn btn-sm btn-outline-gray-300 d-none d-md-inline" %>

          </div>
        </div> <!-- / .row -->
        <div class="row">
          <div class="col-12 col-md-6 col-lg-4 d-flex">

            <!-- Card -->
            <%= link_to cgg_path, class: "card mb-6 mb-lg-0 shadow-light-lg", data: { turbolinks: false }  do %>

              <!-- Image -->
              <div class="card-zoom mt-2">
                <%= image_tag("photos/logo_CGG.png", class: "card-img-top") %>
              </div>

              <!-- Body -->
              <div class="card-body">

                <!-- Shape -->
                <div class="shape shape-bottom-100 shape-fluid-x svg-shim text-white">

                </div>

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-muted">Stock story</h6>

                <!-- Heading -->
                <h4 class="mb-0">CGG</h4>

              </div>

            <% end %>

          </div>
          <div class="col-12 col-md-6 col-lg-4 d-flex">
            <!-- Card -->
            <%= link_to jazztel_path, class: "card d-md-none d-lg-flex shadow-light-lg", data: { turbolinks: false }  do %>

              <!-- Image -->
              <div class="card-zoom">
                <%= image_tag("photos/logo_jazztel_v2.png", class: "card-img-top") %>
              </div>

              <!-- Body -->
              <div class="card-body">

                <!-- Shape -->
                <div class="shape shape-bottom-100 shape-fluid-x svg-shim text-white">

                </div>

                <!-- Preheading -->
                <h6 class="text-uppercase mb-1 text-muted">Stock story</h6>

                <!-- Heading -->
                <h4 class="mb-0">Jazztel</h4>

              </div>
            <% end %>

          </div>
        </div> <!-- / .row -->
      </div> <!-- / .container -->
    </section>

    <!-- CTA -->
    <section class="pt-7 pt-md-10 bg-light">
      <div class="container py-6 py-md-8 border-top border-bottom border-gray-300">
        <div class="row align-items-center">
          <div class="col-12 col-md">
            <!-- Heading -->
            <h3 class="mb-1 fw-bold">
              Get our stories delivered
            </h3>

            <!-- Text -->
            <p class="fs-lg text-muted mb-6 mb-md-0">
              directly to your inbox.
            </p>
          </div>
          <div class="col-12 col-md-5">
            <!-- Form -->
            <form>
              <div class="row">
                <div class="col">
                  <!-- Input -->
                  <input type="email" class="form-control" placeholder="Enter your email" />
                </div>
                <div class="col-auto ms-n5">
                  <!-- Button -->
                  <button class="btn btn-primary" type="submit">
                    Subscribe
                  </button>
                </div>
              </div>
              <!-- / .row -->
            </form>
          </div>
        </div>
        <!-- / .row -->
      </div>
      <!-- / .container -->
    </section>
